aiofiles
aiohappyeyeballs
aiohttp
aiosignal
aiosqlite
annotated-doc
annotated-types
anyio
appdirs
attrs
backoff
bcrypt
build
certifi
cffi
charset-normalizer
chromadb
click
crewai
crewai-cli
crewai-core
cryptography
deprecation
distro
docstring_parser
durationpy
et_xmlfile
fastapi
filelock
filetype
flatbuffers
frozenlist
fsspec
google-auth
google-genai
googleapis-common-protos
greenlet
grpcio
h11
hf-xet
httpcore
httptools
httpx
httpx-sse
huggingface_hub
idna
importlib_metadata
importlib_resources
instructor
Jinja2
jiter
json5
json_repair
jsonpatch
jsonpointer
jsonref
jsonschema
jsonschema-specifications
kubernetes
lance-namespace
lance-namespace-urllib3-client
lancedb
langchain-classic
langchain-community
langchain-core
langchain-google-genai
langchain-protocol
langchain-text-splitters
langsmith
linkify-it-py
markdown-it-py
MarkupSafe
mcp
mdit-py-plugins
mdurl
mmh3
multidict
numpy
oauthlib
onnxruntime
openai
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
orjson
overrides
packaging
pdfminer.six
pdfplumber
pillow
platformdirs
portalocker
posthog
propcache
protobuf
psycopg2-binary
pyarrow
pyasn1
pyasn1_modules
pybase64
pycparser
pydantic
pydantic-settings
pydantic_core
Pygments
PyJWT
pypdf
pypdfium2
PyPika
pyproject_hooks
python-dateutil
python-dotenv
python-multipart
PyYAML
referencing
regex
reportlab
requests
requests-oauthlib
requests-toolbelt
rich
rpds-py
shellingham
six
sniffio
SQLAlchemy
sse-starlette
starlette
tenacity
textual
tokenizers
tomli
tomli_w
tqdm
typer
typing-inspection
typing_extensions
uc-micro-py
urllib3
uuid_utils
uv
uvicorn
uvloop
watchfiles
websocket-client
websockets
xxhash
yarl
zipp
zstandard
litellm
